<nav class="navbar navbar-default">
  <div class="container">
    
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">Boink!!</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav" *ngIf="loggedIn()">
              <li routerLinkActive="active"><a [routerLink]="['/members']"  routerLinkActive="router-link-active">Matches</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/lists']" routerLinkActive="router-link-active" >Lists</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/messages']" routerLinkActive="router-link-active" >Messages</a></li>
            </ul>

        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
            <div class="form-group">
              <label class="sr-only" for="inputUser">Username</label>
              <input type="text" class="form-control mb-2 mr-sm-2" placeholder="email" required name="username" [(ngModel)]="model.username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputPassword">Password</label>
                <input type="password" class="form-control mb-2 mr-sm-2" placeholder="password" required name="password" [(ngModel)]="model.password">
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success mb-2 mr-sm-2">Sign In</button>    
        </form>

        <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
          <li class="dropdown" dropdown>
            <a (click)="false" class="dropdown-toggle" dropdownToggle>Welcome {{authService.decodedToken?.unique_name | titlecase}} <span class="caret"></span></a>
            <ul class="dropdown-menu" *dropdownMenu>
                <li><a [routerLink]="['/profile']" routerLinkActive="router-link-active"><i class="fa fa-user"></i> Edit Profile</a></li>
                <li><a (click)="logout()" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li>
        </ul>

    </div><!--/.navbar-collapse -->
  </div><!--/.navbar-container -->

</nav>